<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>计算机/互联网/通信电子</key>
		<array>
			<string>计算机硬件</string>
			<string>计算机软件</string>
			<string>互联网商务/网游</string>
			<string>IT-管理</string>
			<string>IT-品管、技术支持及其它</string>
			<string>通信技术开发及应用</string>
			<string>电子/电器/半导体/仪器仪表</string>
		</array>
	</dict>
	<dict>
		<key>销售/客服/技术支持</key>
		<array>
			<string>销售管理</string>
			<string>销售人员</string>
			<string>销售行政及商务</string>
			<string>客服及技术支持</string>
		</array>
	</dict>
	<dict>
		<key>会计/金融/银行/保险</key>
		<array>
			<string>财务/审计/税务</string>
			<string>金融/证券/期货/投资</string>
			<string>银行</string>
			<string>保险</string>
			<string>生产/营运</string>
			<string>质量管理/安全防护</string>
			<string>工程/机械/能源</string>
		</array>
	</dict>
	<dict>
		<key>生产/营运/采购/物流</key>
		<array>
			<string>汽车</string>
			<string>技工</string>
			<string>服装/纺织/皮革</string>
			<string>采购</string>
			<string>贸易</string>
			<string>物流/仓储</string>
		</array>
	</dict>
	<dict>
		<key>生物/制药医疗/护理</key>
		<array>
			<string>生物/制药/医疗器械</string>
			<string>化工</string>
			<string>医院/医疗/护理</string>
		</array>
	</dict>
	<dict>
		<key>广告/市场/媒体/艺术</key>
		<array>
			<string>广告</string>
			<string>关公/媒介</string>
			<string>市场/营销</string>
			<string>影视/媒体</string>
			<string>写作/出版/印刷</string>
		</array>
	</dict>
	<dict>
		<key>建筑/房地产</key>
		<array>
			<string>建筑装潢/市政建设</string>
			<string>房地产</string>
			<string>物业管理</string>
		</array>
	</dict>
	<dict>
		<key>人事行政/高级管理</key>
		<array>
			<string>人力资源</string>
			<string>高级管理</string>
			<string>行政/后勤</string>
		</array>
	</dict>
	<dict>
		<key>咨询/法律/教育/科研</key>
		<array>
			<string>咨询顾问</string>
			<string>律师/法务/合规</string>
			<string>教师</string>
			<string>培训</string>
			<string>科研人员</string>
		</array>
	</dict>
	<dict>
		<key>服务业</key>
		<array>
			<string>餐饮/娱乐</string>
			<string>酒店/旅游</string>
			<string>美容/健身/体育</string>
			<string>百货/连锁/零售服务</string>
			<string>交通运输服务</string>
			<string>保安/家政/其他服务</string>
			<string>公务员</string>
			<string>翻译</string>
			<string>在校学生</string>
		</array>
	</dict>
	<dict/>
</array>
</plist>
